.retitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header1 {
  font-size: 20px;
  color: black;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgb(195, 189, 189);
}
